.nav {
  margin: 0 auto;
  max-width: 1184px;
  display: flex;
  justify-content: space-evenly;
  min-height: 50px;
  margin-bottom: 50px;
  background-color: rgba(240, 248, 255, 0.664);
  border-radius: 0 0 20px 20px;
  padding: 0 20px;
}
.logo {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 11px;
  font-style: italic;
  color: #363e49;
  display: flex;
  justify-content: center;
}
.img {
  background-color: rgba(175, 173, 173, 0.322);
  border-color: #0b44cd;
  border: solid 1px;
  padding: 0 5px;
  display: block;
  border-radius: 50%;
  min-width: 50px;
}
.logoLink {
  border-radius: 50%;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 53px;
}
.ul {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 80%;
}
.link {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: #121417;
  display: block;
  background-color: #3470ff;
  color: whitesmoke;
  padding: 15px 30px;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
}
.active {
  transform: scale(1.02);
  background-color: #0b44cd;
}
